@checked-color: #7cb305;

.vote_page {
  :global(.am-checkbox.am-checkbox-checked .am-checkbox-inner) { /* stylelint-disable-line */
    border-color: @checked-color;
    background: @checked-color;
  }
}
