@checked-color: #7cb305;
@bg-color: #f5f5f5;

.vote_page {
  background: @bg-color;

  :global(.am-checkbox.am-checkbox-checked .am-checkbox-inner) { /* stylelint-disable-line */
    border-color: @checked-color;
    background: @checked-color;
  }

  :global(.am-list-item) { /* stylelint-disable-line */
    border-bottom: 1px solid #f7e9e9;
  }

  .tacitly {
    background-color: #ffffff;
    padding: 24px 0 6px 0;

    .wrapper {
      margin: 6px;
      border: 1px solid #cfb26e;

      p {
        font-size: 20px;
        padding: 0 1rem;
        color: #f5222d;
        margin-bottom: 0;
        position: relative;
        display: inline;
        top: -15px;
        left: 12px;
        background-color: #ffffff;

        span {
          font-size: 12px;
        }
      }

      img {
        width: 50%;
        padding: 0 1rem 1rem;
      }
    }
  }

  .section_header {
    text-align: center;
    font-size: 20px;
    margin-top: 6px;
    color: #888888;
  }
}
